body{
    font-size:22px;
    line-height:1.6;
}
.button{
background:coral;
padding:1em 2em;
color:#fff;
border:0;
float:left;
padding-top:0vw;
height:10vh;
width:15%;
 text-align:center;

}
.button>p
{
    width:10%;
    padding-left:2vw;
    font-size:16px;
    text-align:center;
}
.button:hover
{
    background:#333;
}
.modal{
    display:block;
position:fixed;
z-index:1;
left:0;top:0;
height:100%;
width:100%;
overflow:auto;
background-color:rgba(0,0,0,0.5);

}
.modal-content
{
 
    position:relative;
    background-color:#f4f4f4;
    margin:20% auto;
padding:20px;
width:70%;
box-shadow:0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
animation-name:modalopen;
animation-duration:1s;
}

.modal-header h2, .modal-footer h3
{
    margin:0;
}

.modal-header{
background-color:coral;
padding:15px;
color:#fff;


}
.modal-body
{
    padding:10px 20px;

}
.modal-footer
{
    background-color:coral;
    padding:7px;
    padding-top:0vw;
    color:#fff;
    cursor:pointer;
    overflow:hidden;
    font-size:22px;
    

}


.closebtn{
color:#ccc;
float:right;
font-size:30px;
color:white;
}
.closebtn:hover
{
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
button
{
    float:right;
text-decoration: none;
color:white;
height:6vh;
width:20%;
padding:0vw;
}
button > a
{
    text-decoration: none;
    font-color:black;
}
#button-popup-close
{

overflow: hidden;

}

@keyframes modalopen
{
    from{opacity:0;}to{opacity:1;}
}

}



@media only screen and (min-width:600px)
{
.button{
background:coral;
padding:2em 4em;
color:#fff;
border:0;
float:left;
padding-top:1vw;
overflow: hidden;

}

.button > p
{
    font-size:16px;
}
.modal{
    display:block;
position:fixed;
z-index:1;
left:0;top:0;
height:100%;
width:100%;
overflow:auto;
background-color:rgba(0,0,0,0.5);

}
.modal-content
{
 
    position:relative;
    background-color:#f4f4f4;
    margin:20% auto;
padding:20px;
width:70%;
box-shadow:0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
animation-name:modalopen;
animation-duration:1s;

}

.modal-header{
background-color:coral;
padding:15px;
color:#fff;


}
.modal-body
{
    padding:10px 20px;

}
.modal-footer
{
    background-color:coral;
    padding:7px;
    padding-top:0vw;
    color:#fff;
    cursor:pointer;
    overflow:hidden;
    font-size:22px;
    

}
.modal-footer>button
{
overflow:hidden;
cursor:pointer;
background-color:yellow;

}


.closebtn{
color:#ccc;
float:right;
font-size:30px;
color:white;
}
.closebtn:hover
{
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
button
{
    float:right;
text-decoration: none;
color:white;
height:6vh;
width:10%;
padding:0vw;
}
button > a
{
    text-decoration: none;
    font-color:black;
}

@keyframes modalopen
{
    from{opacity:0;}to{opacity:1;}
}

}



@media only screen and (max-width:480px)
{
.button
{
padding-top:1vw;
height:10vh;
width:20%;
 text-align:center;


}

.button>p
{
    width:10%;
    
    font-size:16px;
    text-align:center;
}


}







@media only screen and (max-width:300px)
{

.button
{
padding-top:1vw;
height:10vh;
width:30%;
 text-align:center;


}

.button>p
{
    width:15%;
    padding:0;
    margin:0;
    font-size:12px;
    text-align:center;
}
.modal-footer>button
{
overflow:hidden;
cursor:pointer;
background-color:yellow;

}
.modal-content
{

    overflow:hidden;
}

.modal-header
{
    overflow: hidden;
}

}




















